{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Register {% endblock %}</h1>

{% endblock %}


{% block content %}

<form method="post">
    <div class="form-group">
        <input type="text" class="form-control form-control-lg" name="username" id="username" placeholder="Username" required>
        <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="Password" required>
        <input type="submit" class="btn btn-outline-success" value="Register">
    </div>
</form>

{% endblock %}